@import url(http://allfont.net/allfont.css?fonts=star-jedi);

.container {
    margin: 10% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main {
    width: 28rem;
    height: 28rem;
    background: #CD853F;
    margin: 20px;
    padding: 5%;
    text-align: center;
  }
  .name {
      margin: 1.5rem; 
      font-family: 'Star Jedi', arial;
      font-size: 48px;
      text-shadow: 4px 4px 4px #aaa;
  }